html
{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
*, *::before, *::after
{
    box-sizing: inherit;
}

.container
{
    max-width: 400px;
    margin: 2.375em auto;
}

.cabecalho
{
    width: 100vw;
    height: 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
    background: white;
}
.cabecalho__logo
{
    font-family: 'Sintony';
    font-size: 1.575em;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #63c6ae;
    text-align: center;
    width: 7em;
    padding: 1.39em .875em;
}
.cabecalho__menu__mobile
{
    background: transparent;
    border: none;
    outline: none;
    padding: 2em;
}
.cabecalho__menu__mobile i
{
    font-size: 2.25em;
}
.banner
{
    height: 28em;
    background-image: url(../img/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: .675em;
    position: relative;
    margin-top: 6em;
}
.banner__titulo
{
    font-size: 1.875em;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Sintony';
    text-align: center;
    color: white;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin: 0 .875em;
    padding: 1em;
    background: #63c6ae;
}
.banner__descricao
{
    font-size: 1.15em;
    text-align: center;
    color: white;
    background: #242a2c;
    margin: 1.375em 2.875em;
    padding: 1em;
}
.banner__link
{
    font-size: 1.175em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-family: "Sintony";
    font-weight: 600;
    color: white;
    background: rgba(0, 0, 0, .3);
    display: block;
    border-radius: 3px;
    box-shadow: 0 0 2px white;
    width: 8em;
    padding: 1em;
    margin: 1.375em auto 0 auto;
}
.banner__imagem__decoracao
{
    display: block;
    margin: 4.4em auto 0 auto;
}
.cards
{
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    font-family: 'Sintony';
    margin-bottom: 0;
}
.cards__itens
{
    text-align: center;
    padding-bottom: 2em;
}
.cards__itens:hover
{
    outline: 5px solid #63c6ae;
    outline-offset: -5px;
    color: #63c6ae;
}
.cards__itens__avatar
{
    background-image: url(../img/c01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 15.5em;
    padding-top: 12.175em;
}
.cards__itens__avatar--background2
{
    background-image: url(../img/c02.jpg);
}
.cards__itens__avatar--background3
{
    background-image: url(../img/c03.jpg);
}
.cards__itens__avatar--background4
{
    background-image: url(../img/c04.jpg);
}
.cards__itens__avatar__imagem
{
    width: 5.8em;
    height: 5.5em;
    margin: 0 auto;
    overflow: hidden;
}
.cards__itens:hover .cards__itens__avatar__imagem img
{
    transform: translateY(-5.5em);
}
.cards__itens__titulo
{
    font-size: 1.2375em;
    line-height: 1.5;
    color: #737c85;
    padding: 0 2em;
    margin: 1.975em 0 1em 0;
}
.cards__itens__conteudo
{
    font-size: .875em;
    color: #929da5;
    line-height: 1.5;
    display: block;
    padding: 0 1.7em;
}
.conteudo
{
    border-top: 1px solid rgba(0, 0, 0, .1);
    background: #f8f9f9;
    padding-top: 3em;
    font-family: 'Sintony';
}
.conteudo__artigo:last-child
{
    padding-bottom: 6em;
}
.conteudo__artigo__titulo
{
    font-size: 1.2em;
    line-height: 1.5;
    color: #737c85;
    margin-bottom: 1.2em;
}
.conteudo__artigo__descricao
{
    font-size: .875em;
    line-height: 1.5;
    color: #929da5;
}
.conteudo__artigo__button
{
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background: #63c6ae;
    display: inline-block;
    margin: 1em .875em 1.375em;
    padding: 1.175em 2.375em;
    border-radius: 3px;
    transition: all .5s ease;
}
.conteudo__artigo__button--secundario
{
    background: #455357;
}
.conteudo__artigo__button:hover
{
    background: #929da5;
}